<section class = "card">
  <a href="/blog/{{id}}">
    <header>{{title}}</header>
    <p>written by: {{user_id}}</p>
    <div>
    </div>
  </a>
</section>

<!-- TO DO: can't figure out how to link username instead of id--> 