<section class = "card">
  <a href="/blog/{{id}}">
    <header>{{title}}</header>
    <p>written by:{{User.username}}</p>
    <p>created at: {{format_date createdAt}}</p>
    <div>
    </div>
  </a>
</section>

<!-- TO DO: can't figure out how to link username instead of id--> 