<section class="container">
  <h3 class="title">{{myUser.username}}'s Dashboard</h3>
  

  <h4>Post a Blog</h4>
  <section class="flex-row justify-center">

    <form class = "new-post">
    <input type="text" id="title" placeholder="Title">
  
    <textarea id="newPost" placeholder="Thoughts"></textarea>
    <button type="submit" id="submit-btn">Submit</button>
  </form>  
   

    <p> DASHBOARD CHECK CHECK CHECK!!!</p>
  </section>


{{#if myUser.BlogPosts.length}}
<section>
  <div class="col-md-6 blog-list">
    <h3>All Your Blogs:</h3>

{{#each myUser.BlogPosts as |blog|}}
{{> personal-post-details }}
{{/each}}
  </div>
{{/if}}
</section>



</section>

<script src="/js/dashboard.js"></script>